<div class="card">
  <div class="card-header" style='color:#467fcf;'>
    <i class="fe fe-help-circle" style="vertical-align:-3px;"></i>&nbsp <%= faq.question%>
  </div>
  <div class="card-body">
    <div id='trix-content' class='mb-4' style='text-align: justify;'><%= sanitize faq.answer%></div>
  </div>
</div>
