<div id='settings-detail'>
  <div class="card-header">
    <%= form_tag '/roles', remote: true, method: :post do%>
    <div class="row p-0">
      <div class="col-md-9">
        <%= text_field_tag :title, nil , class: "form-control", placeholder: t(:title) %>
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-secondary"><%=t :submit%></button>
      </div>
    </div>
    <%end%>
  </div>
  <div class="card-body">
    <%= render partial: 'roles/list'%>
  </div>
</div>
