<div id='roles-list'>
  <table class="table table-hover table-outline">
    <%for role in Role.all%>
    <tr>
      <td><%= role.title%></td>
      <td>
        <%= link_to "/roles/#{role.id}/destroy", remote: true, class: "icon" ,data: { confirm: t(:are_you_sure) } do %>
        <i class="fe fe-trash" style='vertical-align:-3px;'></i>
        <%end%>

        <%= link_to "/roles/access/#{role.id}", remote: true, class: "icon" do %>
        <i class="fe fe-shield" style='vertical-align:-3px;'></i>
        <%end%>

      </td>
    </tr>
    <%end%>
  </table>
</div>
