<table class="table table-hover table-outline table-vcenter text-nowrap card-table">
  <thead>
    <tr>
      <td><%=t :title%></td>
      <td><%=t :number_of_tours%></td>
    </tr>
  </thead>
  <tbody>
    <%for category in Category.all%>
    <tr>
      <td><%= category.title%></td>
      <td>
        <div class="tag tag-dark" style='vertical-align: 6px;'>
          <%= category.advertisements.count %>
          <span class="tag-addon tag-success"><i class="fe fe-box" style="vertical-align: -3px;"></i></span>
        </div>
      </td>
    </tr>
    <%end%>
  </tbody>
</table>
